@using MorseSharp;

<div @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" class="relative w-full">
    <span class="@((!canCopy) ? "absolute" : "hidden") z-0 absolute select-none right-1 top-2 text-sm text-gray-500">@Title</span>

    @if (canCopy)
    {
        <div @onclick="CopyToClipboard" class="absolute right-1 top-2">
            <span class="@(isCopied ? "absolute" : "hidden") right-10 text-sm bg-gray-200 px-2 py-1 rounded">Copied</span>
            <button class="bg-gray-200 absolute right-1 px-2 py-1 z-0 rounded">
                @if (isCopied)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 20 20"><path fill="currentColor" d="M7.085 3A1.5 1.5 0 0 1 8.5 2h3a1.5 1.5 0 0 1 1.415 1H14.5A1.5 1.5 0 0 1 16 4.5v4.707A5.5 5.5 0 0 0 10.257 18H5.5A1.5 1.5 0 0 1 4 16.5v-12A1.5 1.5 0 0 1 5.5 3h1.585ZM8.5 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3ZM19 14.5a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0Zm-2.146-1.854a.5.5 0 0 0-.708 0L13.5 15.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0 0-.708Z" /></svg>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 20 20"><path fill="currentColor" d="M7.085 3A1.5 1.5 0 0 1 8.5 2h3a1.5 1.5 0 0 1 1.415 1H14.5A1.5 1.5 0 0 1 16 4.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 4 16.5v-12A1.5 1.5 0 0 1 5.5 3h1.585ZM8.5 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3ZM7.085 4H5.5a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-1.585A1.5 1.5 0 0 1 11.5 5h-3a1.5 1.5 0 0 1-1.415-1Z" /></svg>

                }
            </button>
        </div>
    }
    
    <textarea @bind="txt" class="bg-gray-100 w-full rounded text-black placeholder-black p-2 resize-none shadow-md focus:outline-none" disabled="@IsDisabled" rows="4" placeholder="@Placeholder" @oninput="CanCopy" />
</div>

@code {

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? Title { get; set; }

    private string? txt { get; set; }

    private bool IsHovered { get; set; }

    private bool canCopy;

    private bool isCopied = false;

    public async Task CanCopy(ChangeEventArgs e)
    {
        txt = e.Value?.ToString();
        canCopy = !string.IsNullOrEmpty(txt) && txt.Length > 0 && txt != Placeholder;
        await InvokeAsync(StateHasChanged);
    }

    private void OnMouseOver()
    {
        IsHovered = true;
        // Additional logic when the div is hovered
    }

    private void OnMouseOut()
    {
        IsHovered = false;
        // Additional logic when the div is not hovered
    }

    private async Task CopyToClipboard()
    {

        isCopied = !isCopied;
        await Task.Delay(2500);
        isCopied = false;
    }
}